# Pretrained diffusers model path.
pretrained_model_name_or_path: "weights/CogVideoX-5b"
name_prefix: edit
# The folder where your training outputs will be placed.
output_dir: "./outputs"

seed: 42
num_inference_steps: 52
num_frames_per_chunk: 49
guidance_scale: 6.0 
use_separate_guidance: false
guidance_scale_img: 1.5
dtype: 'bf16'

# 2nd stage params
use_2nd_stage: false
seed_2nd: 42
pretrained_2nd_stage_model_name_or_path:
  "weights/TokensGen-T2To"
longvgen_mean: 
  "weights/TokensGen-To2V/mean.pt"
longvgen_std:
  "weights/TokensGen-To2V/std.pt"
longvgen_pca:
#  "weights/TokensGen-T2To/pca.pt"
  
sampling_mode: "fifo"
sampling_params:
  lookahead_denoising: true
  use_adaptive_padding: true
  use_sliding_window_embedding: false
  num_partitions: 4

use_vip: true
pretrained_resampler_name_or_path:
  "weights/TokensGen-To2V"
video_ipadapter_params:
  image_encoder_path: ""
  scale: [0.6]
  length: 480
  use_vae_as_encoder: true
  func_type: "1"
  video_ipadapter_start_frame_idx: 1000
  resampler_params:
    dim: 3072
    depth: 4
    dim_head: 64
    heads: 16
    num_height_queries: 8 
    num_width_queries: 12
    num_temporal_queries: 4
    embedding_dim: 3072
    output_dim: 3072
    ff_mult: 4
    max_height_seq_len: 30
    max_width_seq_len: 45
    max_temporal_seq_len: 13

# lora params
use_lora: false
lora_path: ""
lora_params:
  rank: 128
  lora_alpha: 64
  target_modules: ["to_k", "to_q", "to_v", "to_out.0"]

cache_idx:
  #- 67
  #- 68
  
# data_params
input_config:
  public:
    pad_to_fit: false
    crop_to_fit: true
    start_t: 0
    end_t: -1
    sample_fps: 10
    output_fps: 10
    output_res: [480, 720]
    max_num_chunks_w_fifo: 25
    max_num_chunks_wo_fifo: 1
    num_videos_per_prompt: 1

  edit_item_1:
    prompt: "A red off-road vehicle navigates a snow-covered mountain road, surrounded by frosted pines and rugged hills. Snow kicks up behind it, hinting at the winter adventure ahead as it continues deeper into the silent wilderness."
    video: "demos/item1_720x480.mp4"
    params:
      max_num_chunks: 12 

  edit_item_2:
    prompt: "A child, likely a little girl, wanders down a narrow, earthen corridor carved through a sea of crimson poppies. The child is dressed in a golden princess dress with fluttering sleeves, and her sun-kissed hair is gathered into a loose braid tied with a golden ribbon. As she steps forward, the towering blossoms sway at her shoulders, their vibrant reds giving way to softer greens and distant hues as the scene drifts toward a hazy, light-washed horizon. Her pace is unhurried and inquisitive, fingertips grazing petals, suggesting a quiet journey of discovery amid the gentle rustle of summer blooms."
    video: "demos/item2_720x480.mp4"
    params:
      max_num_chunks: 12 


